:root {
  --fallback-title-bar-height: 40px;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--main-background, #41403e);
}

nav .bar1, nav .bar2, nav .bar3 {
  height: 2px;
}

.cursor.pointer {
  cursor: pointer;
}

article.mandadin {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

header.mandadin-title-bar {
    app-region: drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: drag;
  height: calc(env(titlebar-area-height, var(--fallback-title-bar-height)) + 2px);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.mandadin-title-bar .no-drag {
  app-region: no-drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: no-drag;
  margin: auto;
}

nav.mandadin-navbar {
  flex: 0 1;
}

.mandadin-main {
  margin: 1em auto;
  flex: 1 0;
}

.mandadin-footer {
  margin: auto 0 0 0;
  flex: 0 1;
}

.notes-form {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.note-list-item {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: stretch;
}

.tracklist-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0.5em 0;
}

.tracklist-item {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: stretch;
  padding: 1em;
}

.listitem-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}

@media all and (max-width: 525px) {
  .tracklist-item,
  .listitem-item {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
  }
}


ul.notes-list li::before,
.tracklist-list li::before {
  content: none;
}

.listitem-item-checkbox {
  padding: 0;
  margin-right: 0.5em;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}
.m-05 {
  margin: 0.5em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.modal {
  overflow-y: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  
  .modal-state:checked+.modal .modal-body {
    margin-top: 12vh;
  }
  .hidden-on-mobile {
    display: none;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .hidden-on-mobile {
    display: initial;
  }
 }
